:root {
    --background: #111111;
    --primary: #fff;
    --wheat: #ceb796;
    --grey: rgba(255, 255, 255, 0.5);
    --light-grey: rgba(255, 255, 255, 0.7);
    --selection: #a496ce;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}

::selection {
    background: var(--selection);
    color: var(--background);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.link {
    height: 18px;
    line-height: 20px;
    font-size: 20px;
    color: var(--primary);
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    background: var(--background);
}

.body-container {
    width: 100%;
    height: 100%;
    padding: 3.5em;
}

.index-body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.index {
    padding: 3.5em 3.5em 0 3.5em;
}

.inner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    flex-grow: 0.04;
    justify-content: space-between;
}

.link .letter {
    display: inline-block;
    transition: transform 0.7s cubic-bezier(0.75, 0, 0.025, 1);
}

.link:hover .letter,
.link.move .letter {
    transform: translateY(-100%);
}

.link .block:last-child {
    color: var(--wheat);
}

.letter:nth-child(1) { transition-delay: 0s; }
.letter:nth-child(2) { transition-delay: 0.02s; }
.letter:nth-child(3) { transition-delay: 0.04s; }
.letter:nth-child(4) { transition-delay: 0.06s; }
.letter:nth-child(5) { transition-delay: 0.08s; }
.letter:nth-child(6) { transition-delay: 0.10s; }
.letter:nth-child(7) { transition-delay: 0.12s; }
.letter:nth-child(8) { transition-delay: 0.14s; }
.letter:nth-child(9) { transition-delay: 0.16s; }
.letter:nth-child(10) { transition-delay: 0.18s; }
.letter:nth-child(11) { transition-delay: 0.20s; }
.letter:nth-child(12) { transition-delay: 0.22s; }

/* index page */
.index-container-header {
    width: 100%;
    height: 305px;
    margin-top: 70px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.sub-header-row,
.sub-header-box {
    width: min-content;
}

.sub-header-row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    pointer-events: none;
}

.sub-header-box {
    padding: 4px 15px;
    border: 2px solid var(--light-grey);
    border-radius: 50px;
}

.sub-header-box:first-child {
    margin-right: 10px;
}

.sub-header-box > u {
    color: var(--light-grey);
}

.index-container-hero {
    width: 100%;
    height: 100%;
    background: url("../images/hero.png") 50% 50% no-repeat;
    background-size: cover;
}

.marquee {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em;
    background: var(--selection);
    overflow: hidden;
}

.marquee-inner {
    position: relative;
    width: fit-content;
    display: flex;
    animation: marquee 10s linear infinite;
}

.marquee-inner > span {
    margin-right: 10px;
    font-size: 2em;
    font-family: "Neutral Face";
    color: var(--background);
    white-space: nowrap;
}

@keyframes marquee {
    0% { transform: translate3d(var(--move-initial), 0, 0); }
    100% { transform: translate3d(var(--move-final), 0, 0); }
}

/* about page */
.about-container-header {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-container-header > .header-paragraph {
    flex-grow: 0;
}

.about-container-header > .header-paragraph > p {
    height: 45px;
    line-height: 45px;
    font-size: 35px;
    color: var(--primary);
}

.about-container-header > .header-paragraph > p:nth-child(3) {
    margin-bottom: 40px;
}

.about-container-header > .header-paragraph > p > a {
    text-decoration: underline;
    color: var(--wheat);
    pointer-events: visible;
}

.contact-link {
    width: max-content;
    display: flex;
    flex-direction: column;
}

.contact-link > span {
    font-size: 20px;
    text-decoration: underline;
    color: var(--primary);
    transition: color 0.3s ease;
}

.contact-link:hover > span {
    color: var(--wheat);
}

/* contact page */
.contact-container-header {
    width: 100%;
    height: max-content;
    margin-top: -140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-title > h1 {
    height: 125px;
    line-height: 120px;
    font-size: 140px;
    font-family: "Dahlia";
    font-weight: lighter;
    text-transform: uppercase;
    color: var(--primary);
    overflow: hidden;
    pointer-events: none;
}

.header-paragraph {
    display: flex;
    flex-grow: 0.8;
    flex-direction: column;
    align-items: flex-start;
}

.header-paragraph > p {
    width: 350px;
    height: 25px;
    line-height: 35px;
    font-size: 20px;
    color: var(--grey);
    pointer-events: none;
}

.contact-container-footer {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-items {
    display: flex;
    flex-grow: 0.1;
    justify-content: space-between;
}

.email-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.email-box:hover .arrow {
    background: var(--primary);
    margin-right: 20px;
}

.email-box:hover .arrow > span {
    color: var(--background);
}

.arrow  {
    width: 70px;
    height: 70px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--grey);
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.75, 0, 0.025, 1);
    pointer-events: none;
}

.arrow > span {
    font-size: 20px;
    font-family: "Neutral Face";
    color: var(--grey);
    transition: all 0.5s cubic-bezier(0.75, 0, 0.025, 1);
}

.email {
    height: 30px;
    line-height: 25px;
    font-size: 40px;
    font-family: "Dahlia";
    text-transform: uppercase;
    color: var(--primary);
}

@media (max-width: 1200px) {
    .link {
        font-size: 16px;
    }
    
    .body-container {
        padding: 1.5em;
    }

    .index {
        padding: 1.5em 1.5em 0 1.5em;
    }

    .index-container-header {
        height: 200px;
        margin-top: 110px;
    }

    .sub-header-row {
        margin-top: -2px;
    }

    .sub-header-box {
        padding: 3px 12px;
    }

    .sub-header-box:first-child {
        margin-right: 7px;
    }

    .sub-header-box > u {
        font-size: 14px;
    }

    .marquee-inner > span {
        font-size: 1.3em;
    }

    .about-container-header > .header-paragraph {
        display: flex;
    }

    .about-container-header > .header-paragraph > p {
        height: 25px;
        line-height: 25px;
        font-size: 20px;
    }

    .about-container-header > .header-paragraph > p:nth-child(3) {
        margin-bottom: 20px;
    }

    .contact-link > span {
        font-size: 16px;
    }

    .contact-container-header {
        margin-top: -110px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .header-title {
        margin-bottom: 20px;
    }

    .header-title > h1 {
        height: 80px;
        line-height: 80px;
        font-size: 90px;
    }

    .header-paragraph > p {
        font-size: 16px;
    }

    .social-items {
        display: none;
    }

    .email-box:hover .arrow {
        margin: 0;
        transform: translateX(5px);
    }

    .arrow {
        width: 45px;
        height: 45px;
        margin: 0px;
    }

    .arrow > span {
        font-size: 12px;
    }

    .email {
        margin-left: 15px;
        font-size: 24px;
    }
}

@media (max-width: 850px) {
    .nav-items {
        flex-grow: 0.15;
    }
}